<!DOCTYPE html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terminplaner | Sebastian Clemens</title>
    <link rel="stylesheet" href="assets/css/app.css" />
  </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="grid-container">
                    <h1>Terminplaner <small>| Sebastian Clemens</small></h1>
                    <hr />
                </div>
            </div>

            <div class="grid-container">
                {% block content %}{% endblock %}
            </div>
            
            <div class="push"></div>
        </div>

        <div class="footer">
            <div class="grid-container">
                <hr />
                &copy; Copyright by Sebastian Clemens. All rights reserved.
            </div>
        </div>

        <script src="assets/js/app.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
